// =============================================================================
// About
// =============================================================================

.about {
  padding: 30px 0;
  border-bottom: 1px solid $base-border-color;
  h1 {
    margin: 50px 0 15px;
  }
}
